<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>BrickController</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleIdentifier</key>
  <string>de.raphaelvolz.brickcontroller</string>
  <key>CFBundleIconName</key>
  <string>AppIcon</string>
  <key>CFBundleName</key>
  <string>BrickController</string>
  <key>CFBundleShortVersionString</key>
  <string>3.5</string>
  <key>CFBundleVersion</key>
  <string>54</string>
  <key>ITSAppUsesNonExemptEncryption</key>
  <false/>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.utilities</string>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>BrickController uses Bluetooth when you choose to find, connect to, and control compatible receivers and remotes.</string>
  <key>NSBluetoothPeripheralUsageDescription</key>
  <string>BrickController uses Bluetooth when you choose to find, connect to, and control compatible receivers and remotes.</string>
  <key>NSCameraUsageDescription</key>
  <string>Camera is required in order to import a creation via QR code from another application.</string>
  <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
  <string>Location access is required to use SBrick, BuWizz or Powered-Up devices.</string>
  <key>NSLocationAlwaysUsageDescription</key>
  <string>Location access is required to use SBrick, BuWizz or Powered-Up devices.</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>Location access is required to use SBrick, BuWizz or Powered-Up devices.</string>
  <key>NSHumanReadableCopyright</key>
  <string>BrickController Copyright (c) 2025 Istvan Murvai, Vit Nemecky and Contributors. Mac version maintained by Prof. Dr. Raphael Volz (Pforzheim University).</string>
  <key>UIApplicationSupportsIndirectInputEvents</key>
  <true/>
  <key>UIDeviceFamily</key>
  <array>
    <integer>2</integer>
  </array>
  <key>UIFileSharingEnabled</key>
  <true/>
  <key>UIUserInterfaceStyle</key>
  <string>Dark</string>
  <key>XSAppIconAssets</key>
  <string>Assets.xcassets/AppIcon.appiconset</string>
</dict>
</plist>
