<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>12.2</string>
	<key>CFBundleDisplayName</key>
	<string>BrickController</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>de.raphaelvolz.brickcontroller</string>
	<key>CFBundleName</key>
	<string>BrickController</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>BrickController uses Bluetooth when you choose to find, connect to, and control compatible receivers and remotes.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow the application to access the calendar.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location access is required to use SBrick, BuWizz or Powered-Up devices.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location access is required to use SBrick, BuWizz or Powered-Up devices.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location access is required to use SBrick, BuWizz or Powered-Up devices.</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera is required in order to import a creation via QR code from another application.</string>
	<key>CFBundleShortVersionString</key>
	<string>3.5</string>
	<key>CFBundleVersion</key>
	<string>54</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>BrickController uses Bluetooth when you choose to find, connect to, and control compatible receivers and remotes.</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow the application to access contacts (actually not used by the app)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow the application to access microphone (actually not used by the app)</string>
	<key>NSHumanReadableCopyright</key>
	<string>BrickController Copyright (c) 2025 Istvan Murvai, Vit Nemecky and Contributors. Mac version maintained by Prof. Dr. Raphael Volz (Pforzheim University).</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Allow the application to access apple music (actually not used by the app)</string>
	<key>NSSiriUsageDescription</key>
	<string>Allow the application to access siri (actually not used by the app)</string>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImages.launchimage</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
